version: "3.9"

services:
  nginx:
    image: nginx:stable-alpine
    container_name: web_${ENV}
    restart: unless-stopped
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ${APP_PATH}:/usr/share/nginx/html:ro
