name: Deploy

on:
  push:
    branches: ["dev", "main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Deploy DEV
        if: github.ref == 'refs/heads/dev'
        run: |
          docker compose --env-file .env.dev up -d

      - name: Deploy PROD
        if: github.ref == 'refs/heads/main'
        run: |
          docker compose --env-file .env.prod up -d
